

.container {
    width: 450px;
    margin: 60px auto;
    padding: 20px;
    border: 2px solid #7777;
    box-shadow: 2px 5px #888888;
}

h1 {
    margin-top: 100px;
    font-size: 36px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    
}

